*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/build/
test/Manifest.toml
examples/jukebox.jl
examples/Manifest.toml
docs/Manifest.toml
examples/Manifest.toml
paper/code.aux
paper/code.log
*.pygtex
paper/_minted-code/default.pygstyle
