*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/build/
test/Manifest.toml
examples/jukebox.jl
examples/Manifest.toml
docs/Manifest.toml
examples/Manifest.toml
docs/src/examples/black_hole_image.md
docs/src/examples/nonanalytic.md
docs/src/examples/data.md
paper/code.aux
paper/code.log
*.pygtex
paper/_minted-code/default.pygstyle
